<% provide(:title,'About Us') %>
<h1>About Us</h1>
<p> <a href="http://railstutorial.org">Ruby on rails Tutorial</a>
  is the project to make a book and screecasts to teach web development
  with <a href="http://rubyonrials.org">Ruby on Rails</a>. this 
  is the sample application for the tutorial.
</p>